<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
<div th:fragment="footerFragment">
    <div id="footer">
        <div class="inner">
            <div class="copyright">
                <a class="footer_title" href="/">대구 독서모임 책방일지<br><br></a>
                <a class="footer_content">
                    사업자 등록번호 : 186-39-00788    /    (42452) 대구 남구 자유1길 86 1층<br>
                    tel: 010-4883-0423    /    email: dailyrecordofbook1@naver.com
                </a>
                <p>Copyright © Dailyrecordofbook Corp. All rights reserved.</p>
            </div>

            <div class="copyright-m">
                <a class="footer_title" href="/">대구 독서모임 책방일지<br><br></a>
                <a class="footer_content">
                    사업자 등록번호 : 186-39-00788<br>
                    (42452) 대구 남구 자유1길 86 1층<br>
                    tel: 010-4883-0423<br>
                    email: dailyrecordofbook1@naver.com
                </a>
                <p>Copyright © Dailyrecordofbook Corp. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
</html>